<html>
        <head>
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
                <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
                <script>
                        $(document).ready(function(){
                                $("#blog").load("http://instaright.posterous.com");
                        });
                </script>
        </head>
        <body>
                <div id="blog">Loading ...</div>
        </body>
</html>
