<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
<id>http://instaright.appspot.com/</id>
<title>Instaright Live Feed</title>
<link rel="self" href="http://instaright.appspot.com/feed" type="application/atom+xml"/>
<link rel="hub" href="http://pubsubhubbub.appspot.com/" />
<updated>{{ dateupdated|date:"Y-m-d\TH:i:s\Z" }}</updated>
<author>
	<name>Bojan Babic</name>
	<email>gbabun@gmail.com</email>
</author>
{% for entry in entries %}
<entry>
	<id>{{ entry.key }}</id>
	<title>Instaright bookmark from domain: {{ entry.domain }} </title>
	<link href="http://instaright.appspot.com/article/{{ entry.key }}" />
	<updated>{{ entry.date|date:"Y-m-d\TH:i:s\Z" }}</updated>
	<summary>{{ entry.domain }}</summary>
	<domain>{{ entry.domain }}</domain>
</entry>
{% endfor %}
</feed>
