<div id="footer">
<div id="footer-inner">
	<div class="container clearfix">
		<div class="lip"></div>
		<div class="shadow"></div>
		<div class="words">
			<div id="contribute" class="col">
				<h4><span>Social</span></h4>
				<ul>
					<li>
						<a href="http://twitter.com/instaright" title="instaright on twitter">Twitter</a>
					</li>
					<li>
						<a href="http://facebook.com/instaright" title="instaright blog">Facebook</a>
					</li>
					<li>
						<a href="http://blog.instaright.com" title="instaright blog">Blog</a>
					</li>
				</ul>
			</div>
			<div id="contribute" class="col">
				<h4><span>About</span></h4>
				<ul>
					<li>
						<a href="mailto:bojan@instaright.com" title="Contact Instaright developer">Developer</a>
					</li>
					<li>
						<a href="/privacy_policy.html" title="Instaright Privacy Policy">Privacy Policy</a>
					</li>
					<li>
						<a href="http://getsatisfaction.com/instaright">Get Satisfaction</a>
					</li>
					<li>
						<a href="http://feeds.feedburner.com/InstarightFeed">Instaright Feed</a>
					</li>
				</ul>
			</div>
			<div id="contribute" class="col">
				<h4><span>Top Categories</span></h4>	
				<ul>
					<li>
						<a href="/category/business">Business</a>
					</li>
					<li>
						<a href="/category/economy">Economy</a>
					</li>
					<li>
						<a href="/category/tutorials">Tutorials</a>
					</li>
					<li>
						<a href="/category/socialmedia">Social Media</a>
					</li>
					<li>
						<a href="/category/stevejobs">Steve Jobs</a>
					</li>
				</ul>
			</div>
			<div id="contribute" class="col">
				<h4><span>Top Domains</span></h4>	
				<ul>
					<li>
						<a href="/domain/techcrunch.com">Techcrunch</a>
					</li>
					<li>
						<a href="/domain/news.ycombinator.com">Hacker News</a>
					</li>
					<li>
						<a href="/domain/reddit.com">Reddit</a>
					</li>
					<li>
						<a href="/domain/stackoverflow.com">Stack Overflow</a>
					</li>
					<li>
						<a href="/domain/businessinsider.com">Business Insider</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
