<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <script type="text/javascript">var tinyMCE,_sf_startpt=(new Date()).getTime();</script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <script src="/static/javascript/jquery.form.js"></script>
        <script src="/static/javascript/tooltip.js"></script>
        <script type="text/javascript" src="http://github.com/malsup/form/raw/master/jquery.form.js?v2.44"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
        <script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/validate/jquery.validate.js"></script>

	<!-- fancybox -->
	<script type="text/javascript" src="/static/javascript/jquery.fancybox-1.3.4.pack.js"></script>
	<link rel="stylesheet" href="/css/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width = 900"/>
        <meta name="keywords" content="export delicious to instapaper, how to export delicious bookmarks to instapaper, instapaper import delicious, delicious to instapaper, import delicious bookmarks, instapaper delicious"/>
        
        <title>Import Delicious Bookmarks</title>
        
                    <!--link rel="stylesheet" type="text/css"href="http://assets.tumblr.com/stylesheets/compressed/account_form.css?410"/-->
        <link rel="stylesheet" type="text/css" href="/css/landing_form.css"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/css/tooltip.css"/>
            
      </head>
    <body>
	<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$("#btn_login").fancybox({
			'scrolling'		: 'no',
			'titleShow'		: false,
			'onClosed'		: function(){
			}
		});
	});
	</script>
	<div id="nav" >
		<div class="center clearfix">
			<h5><a href="/">Instaright - Perfect information for you in realtime.</a></h5>
                <ul class="menu borderless clearfix"> 
			<li><a href="/category" title="Instaright most populat category list"><span>Categories</span></a></li>
			<li><a href="/tools" title="Instaright tools"><span>Tools</span></a></li>
                        {% if user %}
			<li><a href="javascript:alert('Dashboard soon available!');"><span>{{ user }}</span></a></li>
			<li><a href="javascript:alert('Dashboard soon available!');"><img src="{{ avatar }}" width="20" height="20" /></a></li>
			<li><a href="{{ logout_url }}"><span>Logout</span></a></li>
                        {% else %}
			<li><a id="btn_login" href="/account" title="Login"><span>Login</span></a></li>
                        {% endif %}
                        <li>
                        </li>

                </ul>
		</div>
	</div>
        
        <script type="text/javascript" charset="utf-8">
                $(document).ready(function(){
		        $("#duser").focus();
                        //$("#import_form").validate();
                        $('#import_form').ajaxForm({ 
                                        target: '#response', 
 
                                        // success identifies the function to invoke when the server response 
                                        // has been received; here we apply a fade-in effect to the new content 
                                        success: function() { 
                                                $('#response').fadeIn('slow'); 
                                        } 
                                }); 
                });
        </script>
        <div id="container">
            <div id="header_container">
                <div id="header">
                </div>
            </div>
           <div id="content">
                


<!--[if IE 6]>
    <style type="text/css">
        #content  #form #form_inner #account_form .text_field, 
        #content #form #form_inner,
        #content #form {
            background-image: none;
        }
        
        #footer {
            margin-top: -100px
        }
    </style>
<![endif]-->


<div id="inset">
    <div id="inset_shimmer">
        <div class="slogan">Import Delicious public bookmarks into Instapaper</div>
    </div>
</div>

<div id="form">
    <div id="form_inner">
        <form action="/tools/import/delicious" method="post" id="import_form">
            
           <div style="display: block;"> 
            <label for="duser">Delicious Account<span class="toolTip" title="If your yahoo email is instaright@yahoo.com your delicious account is instaright">&nbsp;&nbsp;</span></label>
            <div style="margin-bottom: 20px;"><input type="text" name="duser" id="duser" class="required text_field" value=""/></div>
            <label for="iuser">Instapaper Account</label>
            <div style="margin-bottom: 20px;"><input type="text" name="iuser" id="iuser" class="required text_field" value=""/></div>
            <label for="ipass">Password <span class="toolTip" title="Only if you have set your instapaper password">&nbsp;</span></label>
            <div style="margin-bottom: 30px;"><input type="password" name="ipass" class="text_field"/></div>
            <div>
                <input type="submit" value="Import" class="big_button" />
            </div>
          </div>
       </form>
    </div>
    <div id="big_button1">
            more about: <a href="http://instaright.posterous.com/delicious-is-dead-long-live-instapaper" title="How to import Delicious bookmarks to Instapaper">How to export Delicious bookmarks to Instapaper →</a>
    </div>
 </div>
<div id="response"></div>
</div>

            
            <div id="footer-container">
                <div style="position: relative; text-align: center; color: rgb(0, 0, 204); font-size: small;">
                        <p><a href="mailto:gbabun@gmail.com" title="Contact Instaright developer">contact</a> | <a href="http://twitter.com/instaright" title="instaright on twitter">twitter</a> | <a href="http://instaright.tumblr.com" title="instaright blog">blog</a></p>
                </div>
            </div>
        </div>
<!-- GETSATISFACTION -->
<script type="text/javascript" charset="utf-8">
        var is_ssl = ("https:" == document.location.protocol);
        var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
        document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
        </script>

        <script type="text/javascript" charset="utf-8">
                var feedback_widget_options = {};

feedback_widget_options.display = "overlay";  
feedback_widget_options.company = "instaright";
feedback_widget_options.placement = "left";
feedback_widget_options.color = "#222";
feedback_widget_options.style = "idea";
var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
    </body>
</html>

