<html>
<title>Register new Instaright Account</title>
<body>
<div style="border:1px solid #fff;width:498px;margin:0 auto;padding:30px">

<p><a href="/oauth/twitter/login">Login via Twitter</a></p>
<p><a href="/oauth/google/login">Login via Google</a></p>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js">
</script>
<script>
FB.init({ 
appId:'180962951948062', cookie:true, 
status:true, xfbml:true 
});
</script>
<fb:registration
fields="[{'name':'name'}, {'name':'email'},
{'name':'iusername','description':'Instaright username',
        'type':'text'}, {'name':'password','description':'Instaright password', 'no_submit':true}
        ]" onvalidate="validateAndSave" redirect-uri="http://instaright.appspot.com/account">
        </fb:registration>
        <script>
        function validateAndSave(form){
                if (!form.password){
                        return ({"password":"Type a password"});
                }
                var dt = new Date(), expiryTime = dt.setTime( dt.getTime() + 1000 * 5 );
                document.cookie= 'password='+form.password + ';expires='+ expiryTime.toGMTString();
                return {};
        }
</script>

</div>

</body>
</html>
