<html>
<head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/landing_form.css" />
       
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width = 900"/>
        <meta name="keywords" content="Instaright bookmarks, instaright realtime social bookmarks login, creat account instaright"/>
	<meta name="description" content="Choose identity which you'll use on Instaright " />
        
        <title>Sign up for Instaright</title>
        
<title>Login with existing account</title>
</head>
<body>
<div style="border:1px solid #fff;width:298px;margin:0 auto;padding:30px; margin-left: 50px;">
<p class="howdy">Howdy! Claim your identity with one of following services</p>
<table>
<tbody>
<tr>
<td><a href="/oauth/twitter/login"><img style="boarder: medium none" width="80" height="80" title="Join Instaright Web App with your Twitter account" alt="Twitter" src="/static/images/twitter-button.png"/></a></td>
<td><a href="{{ google_login_url }}"><img style="boarder: medium none" width="80" height="80" title="Join Instaright Web App with your Google account" alt="Google" src="/static/images/google-button.png"/></a></td>

<td>


    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '180962951948062', status: true, cookie: true,
                 xfbml: true});
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
	<a href="javascript:fblogin();"> <img style="boarder: medium none" width="80" height="80" title="Join Instaright Web App with your Facebook account" alt="Facebook" src="/static/images/facebook-button.png" /> </a>
	<script>
		function fblogin(){
			FB.login(function(response){
				window.location.reload();
			}, {perms:'read_stream,publish_stream, email'});
		}
	</script>
</td>
</tbody>
</table>

</div>

</body>
</html>
