
<p class="social_media"><b>What is Instaright?</b></p>
<div class="text-align: center; width: 270px;">
	<p>The fast, easy and effort-free way to <b>save</b>, <b>discover</b> and <b>share</b> information all over web. Easy to start, easy to use. Organizes and streamlines infromation into categories providing clear presentation. </p>
</div>
<p class="social_media"><b>Save: Instaright browser plugins</b></p>
<div class="text-align: center; width: 270px;">
	<p style="text-align: center;"><a title="Instaright Browser addons - Instaright Firefox and Chrome addons" href="/tools" ><span>Instaright Firefox addon and Chrome Extension</span></a></p>
	<p style="text-align: center;"><a title="Download Instaright Browser addons - Instaright Firefox and Chrome addons" href="/tools"><img src="/static/images/download_instaright.png" style="width:220px; height: 60px;" alt="Instaright firefox addon"/></a></p>
</div>
<p class="social_media"><b>Discover: Realtime Notifications</b></p>
<div class="text-align: center; width: 270px;">
	<p>Discover infromation in realtime article feed or via Instant messenger. Subscribe to categories and topics of your interest. Instaright provides updates on your favorite IM client. <br></p>
	<p id="jabbers">
	<img src="/static/images/messenger.png" alt="Instaright Yahoo Messenger Support"/><img src="/static/images/gtalk.png" alt="Instaright Google Talk support"/><img src="/static/images/aim.png" alt="Instaright AIM support"/></p>
</div>
<p class="social_media"><b>Share: Instaright on social media</b></p>
<div class="text-align: center; width: 270px;">
	<p>Instaright detects highly engaged content and leverage it across social networks</p>
</div>
