<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="title" content="Instaright Tools - Browser Addons, Importers and more" />
<meta name="description" content="Instaright Tools place where you can find all Instaright productivity tools including Browser Addons, Importers and more" />
<meta name="viewport" content="width = 900"/>
<meta name="keywords" content="Instaright tools, instaright firefox addon, instaright chrome addon, instapaper firefox addon, instapaper chrome addon, export delicious to instapaper, how to export delicious bookmarks to instapaper, instapaper import delicious, delicious to instapaper, import delicious bookmarks, instapaper delicious"/>

<script type="text/javascript" src="/static/javascript/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" href="/css/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />

<title>Instaright Tools</title>

<link rel="stylesheet" type="text/css" href="/css/landing_form.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>
<body>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
		$("#btn_login").fancybox({
			'scrolling'		: 'no',
			'titleShow'		: false,
			'onClosed'		: function(){
			}
			});
		});
</script>

<div id="nav" >
<div class="center clearfix">
<h5><a href="/">Instaright - Perfect information for you in realtime.</a></h5>
<ul class="menu borderless clearfix"> 
<li><a href="/category" title="Instaright most popular category list"><span>Categories</span></a></li>
<li><a href="/tools" title="Instaright tools"><span>Tools</span></a></li>
{% if user %}
<li><a href="/user/dashboard"><span>{{ user }}</span></a></li>
<li><a href="/user/dashboard"><img src="{{ avatar }}" width="20" height="20" /></a></li>
<li><a href="{{ logout_url }}"><span>Logout</span></a></li>
{% else %}
<li><a id="btn_login" href="/account" title="Login"><span>Login</span></a></li>
{% endif %}
<li>
</li>

</ul>
</div>
</div>
<div id="container">
<div id="header_container">
<div id="header">
</div>
</div>
<div id="content">



<!--[if IE 6]>
<style type="text/css">
#content  #form #form_inner #account_form .text_field, 
#content #form #form_inner,
#content #form {
	background-image: none;
}

#footer {
	margin-top: -100px
}
</style>
<![endif]-->


<div id="inset">
<div id="inset_shimmer" >
<div id="instaright_firefox_addon">
<div class="slogan" id="instaright_google_chrome_extension">Instaright tools - Browser plugins, importers and more</div>
<div id="addons">
<div class="inline">
<a href="https://addons.mozilla.org/en-US/firefox/addon/instaright-social-bookmarks/" title="Download Instaright Firefox addon" rel="me"><img alt="Instaright Firefox Addon" src="/static/images/instaright_firefox_addon.png" /></a>
<div class="version">
<ol><li>Version 0.4.4</li>
<li>(Works with Windows, MacOS, Linux)</li></ol>
</div>
<div class="install_steps">
<p>Follow these steps to install Firefox addon</p>
<ol>
<li>1. Click on the icon above or go to the <em><a href="https://addons.mozilla.org/en-US/firefox/addon/instaright-social-bookmarks/" title="Downlaod Instaright Firefox Addon">Instaright Firefox Add-on page</a></em></li>
<li>2. Click the green <em>Add to Firefox</em> button</li>
<li>3. Click <em>Install</em> in the window that opens</li>
<li>4. Restart Firefox</li>
</ol>
</div>
</div>
<div class="inline">
<a href="https://chrome.google.com/webstore/detail/mklfjcmekplnempnkclmdclnbedadphf" title="Download Instaright Chrome Extension"><img src="/static/images/instaright_chrome_extension.png" alt="Instaright Chrome Extension" /></a>
<div class="version">
<ol><li>Version 0.1</li>
<li>(Works with Windows, MacOS, Linux)</li></ol>
</div>
<div class="install_steps">
<p>Follow these steps to install Instaright Chrome extension</p>
<ol>
<li>1. Click on the icon above or go to the <em><a href="https://chrome.google.com/webstore/detail/mklfjcmekplnempnkclmdclnbedadphf" title="Instaright Chrome Extension">Instaright Chrome Extension page</a></em></li>
<li>2. Click blue <em>Install</em></li>
</ol>
</div>
</div>
</div>
</div>
<div class="clearfix"></div>
<div class="line_separator" ></div>
<div class="slogan" id="instaright_bookmarklet">Instaright Bookmarklet</div>
<div id="bookmarklet"> 
<div id="bookmarklet_desc">
<p>From now on use Instaright on all platfroms!</p>
<p>iPhone, Android, Nokia platforms provide browsers that are compatible with Instaright bookmarklet and and help you save stories on-the-go!</p>
<p>If you are on your iPhone or iPad, follow steps from below:</p>
<div id="install_ipad_ipod">
<p> 
1. Add this page as a bookmark <br />
2. Select and copy the Javascript bookmarklet below to your clipboard. <br />
3. Go to your bookmarks and edit the new bookmark.  Edit the name and paste the Javascript in the field for the URL.<br />
4.  Done.
</p>
<b>Add the Instaright Bookmarklet</b>
<br />
<textarea name="code" cols="50" rows="10" readonly>
javascript:void((function()%7Bvar%20e=document.createElement('scr'+'ipt');e.setAttribute('type','text/javascript');e.setAttribute('src','{{ env }}/bookmarklet/javascript');document.body.appendChild(e)%7D)())
</textarea><br />
</div>
<br>
<p>We haven't forgot Safari or Opera users, now you can use instaright bookmarklet and boost your productivity.</p>
<p id="bookmarklet_install">
<span class="text_bubble_cats">
	<a href="javascript:void((function()%7Bvar%20e=document.createElement('scr'+'ipt');e.setAttribute('type','text/javascript');e.setAttribute('src','{{ env }}/bookmarklet/javascript');document.body.appendChild(e)%7D)())" title="Drag Instaright bookmarklet to your Bookmark Bar" onclick="javascript:alert('Click and drag the button above onto your Bookmark bar'); return false;">Instaright Bookmarklet</a></span>

</p>
</div>
</div>
</div>
<!--div class="line_separator" ></div>
<div class="slogan">Instaright importer - Import Delicious bookmarks into Instapaper</div>
<div class="import_delicious">
<p>Have you heard that Delicious has been acquired by AVOS? You can protect your bookmarks by importing them into Instapaper</p>
<a href="/tools/delicious" title="Delicious Instapaper importer">Instapaper delicious importer is perfect for for your need</a>
</div-->
</div>
</div>
<br class="clear-both" />
<div id="footer-container">
{% include 'footer.html' %}
</div>
<!-- GETSATISFACTION -->
<script type="text/javascript" charset="utf-8">
var is_ssl = ("https:" == document.location.protocol);
var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
var feedback_widget_options = {};

feedback_widget_options.display = "overlay";  
feedback_widget_options.company = "instaright";
feedback_widget_options.placement = "left";
feedback_widget_options.color = "#222";
feedback_widget_options.style = "idea";
var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
</body>
</html>

