<html>
        <head>
                <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
                <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
        </head>
        <body>
                <table>
                {% for user in users %}
                        <tr>
			<td><a href="/user/{{ user.0 }}">{{ user.0 }}</a></td><td>{{ user.1 }}</span></td>
                        </tr>
                {% endfor %}
                </table>
        </body>
</html>
