<html>
        <head>
                <link rel="stylesheet" type="text/css" href="../css/style.css" />
                <script type="text/javascript" src="/static/javascript/util.js"></script>
                <script type="text/javascript" src="/static/javascript/chart.js"></script>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
                <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
                <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
                <script type="text/javascript" src="http://www.google.com/jsapi"></script>
                <script type="text/javascript">
                        google.load('visualization', '1', {packages: ['imagechart']});
                        google.load('jquery', '1.4.2');
                </script>
                <script type="text/javascript">
                        google.setOnLoadCallback(drawVisualization(6,null, "{{ user.instapaper_account }}"));
                        google.load(drawVisualization);
                </script>
        </head>
        <body>
                {% if user %}
                {% if user.name %}
                <h2>{{ user.name }}</h2>
                {% endif %}
                <div id="table_container" style="width: 700px; height: 200px; margin 0 auto;">
                <table style="float: left; width:500px;">
                        <tbody>
                        <tr>
                                <td class="avatar">
                                        {% if user.avatar %}
                                        <img src="{{ user.avatar }}" />
                                        {% endif %}</td>
                                <td class="info">
                                        <ul>
                                                <li>
                                                Instapaper: {{ user.instapaper_account }}
                                                </li>
                                                <li>
                                                Links #{{ user.links_added }}
                                                </li>
                                                {% if user.occupations %}
                                                <ul class="occupations">
                                                        <li>{{ user.occupations }}</li>
                                                </ul>
                                                {% endif %}
                                        </ul>
                                </td>
                                        
                        </tr>
                        </tbody> 
                </table>
                <table style="float: right;width: 200px;"><tr><td id="visualization" style="width: 200px; height: 200px;  display: inline-block;"></td></tr></table>
        </div>
                <div class="social">
                        {% if user.facebook %}
                        <a href="{{ user.facebook }}"><img src="/static/images/facebook_small.png"/></a>
                        {% endif %}
                        {% if user.bebo %}
                        <a href="{{ user.bebo }}"><img src="/static/images/bebo_small.png"/></a>
                        {% endif %}
                        {% if user.myspace %}
                        <a href="{{ user.myspace }}"><img src="/static/images/myspace_small.png"/></a>
                        {% endif %}
                        {% if user.friendster %}
                        <a href="{{ user.friendster }}"><img src="/static/images/friendster_small.png"/></a>
                        {% endif %}
                        {% if user.linkedin %}
                        <a href="{{ user.linkedin }}"><img src="/static/images/linkedin_small.png"/></a>
                        {% endif %}
                        {% if user.google_reader %}
                        <a href="{{ user.google_reader }}"><img src="/static/images/google_reader_small.png"/></a>
                        {% endif %}
                        {% if user.google_profile%}
                        <a href="{{ user.google_profile }}"><img src="/static/images/google_profile_small.png"/></a>
                        {% endif %}
                        {% if user.twiter %}
                        <a href="{{ user.twitter }}"><img src="/static/images/twitter_small.png"/></a>
                        {% endif %}
                        {% if user.flickr %}
                        <a href="{{ user.flickr }}"><img src="/static/images/flickr_small.png"/></a>
                        {% endif %}
                        {% if user.youtube %}
                        <a href="{{ user.youtube }}"><img src="/static/images/youtube_small.png"/></a>
                        {% endif %}
                        {% if user.hi5 %}
                        <a href="{{ user.hi5 }}"><img src="/static/images/hi5_small.png"/></a>
                        {% endif %}
                        {% if user.picasa %}
                        <a href="{{ user.bebo }}"><img src="/static/images/bebo_small.png"/></a>
                        {% endif %}
                        {% if user.plancast %}
                        <a href="{{ user.picasa }}"><img src="/static/images/picasa_small.png"/></a>
                        {% endif %}
                        {% if user.delicious %}
                        <a href="{{ user.delicious }}"><img src="/static/images/delicious_small.png"/></a>
                        {% endif %}
                        {% if user.multipy %}
                        <a href="{{ user.multiply }}"><img src="/static/images/multiply_small.png"/></a>
                        {% endif %}
                        {% if user.tungle_me %}
                        <a href="{{ user.tingle_me }}"><img src="/static/images/tingle_me.png"/></a>
                        {% endif %}
                        {% if user.livejournal %}
                        <a href="{{ user.livejournal }}"><img src="/static/images/livejournal_small.png"/></a>
                        {% endif %}
                        {% if user.wordpress %}
                        <a href="{{ user.wordpress }}"><img src="/static/images/wordpress_small.png"/></a>
                        {% endif %}
                </div>
                {% else %}
                <div>No info for user</div>
                {% endif %}
                <br>
                <div class="links">
                        <p>Links:</p>
                        {% regroup links|dictsortreversed:"date" by date|date:"Y-m-d"  as links_by_date %}
                        {% for links in links_by_date %}
                        <li>{{ links.grouper }}</li>
                        
                        {% for item in links.list %}
                        <ul style="padding: 2px;"><a href="{{ item.url }}" target="_new">{{ item.url }}</a></ul>
                        {% endfor %}
                        {% endfor %}
                </div>
        </body>
</html>
