<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
        <head>
        	<!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script-->
        	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        	<meta name="viewport" content="width = 900"/>
        	<meta name="keywords" content="instaright firefox addon, instaright chrome addon, instapaper firefox addon, instapaper chrome addon, export delicious to instapaper, how to export delicious bookmarks to instapaper, instapaper import delicious, delicious to instapaper, import delicious bookmarks, instapaper delicious"/>
        	<link rel="stylesheet" type="text/css" href="/css/landing_form.css"/>
        	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
                <script type="text/javascript" src="/static/javascript/util.js"></script>
                <script type="text/javascript" src="/static/javascript/chart.js"></script>
                <script type="text/javascript" src="http://www.google.com/jsapi"></script>
                <script type="text/javascript">
                        google.load('visualization', '1', {packages: ['imagechart']});
                        google.load('jquery', '1.4.2');
                </script>
                <script type="text/javascript">
                        google.setOnLoadCallback(drawVisualization(6,null, "{{ instaright_account }}"));
                        google.load(drawVisualization);
                </script>
		<script type="text/javascript" src="/static/javascript/jquery.fancybox-1.3.4.pack.js"></script>
                <script type="text/javascript" src="/static/javascript/jquery.cookie.js"></script>
		<link rel="stylesheet" href="/css/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
        	<script src="/static/javascript/jquery.form.js"></script>
        	<script type="text/javascript" src="http://github.com/malsup/form/raw/master/jquery.form.js?v2.44"></script>
        	<link rel="stylesheet" type="text/css" href="/css/landing_form.css"/>
		<script>
			$(document).ready(function(){
				try{
				var show_more = true;

				$('.user_data').ajaxForm({
					target: "#response",
					success: function(){
						$("#response").fadeIn("slow");
					}
				});
				$('.link_group_date').click(function(){
					var mode = $(this).find('.show_toggle').html();
					if (mode == "Collapse"){
						$(this).find('.show_toggle').html("Expand");
					} else {
						$(this).find('.show_toggle').html("Collapse");
					}
					$(this).next().toggle('slow');
					return false;
				});
				$(".load_more_container").live("click", function(){
					alert('Coming soon');
					return;
					var offset = $(this).attr("id");
					var cookie = $.cookie("user_uuid");
					if (!cookie){ 
						alert("no cookie");
					}
					if (!offset){
						offset=0
					}
					$.ajax({
						type: "GET",
						url: "/link/user",
						data: "cookie="+cookie+"&offset="+offset,
						cache: false,
						success: function(data){
							var j = "";
							try{
								j = eval(data);
								a = Array();
								for (p in j){
									a.push(p);a.push('=>');
									for (pp in j[p]){
										a.push(pp);
										a.push('==>');
										a.push(j[p][pp][0]);
									}
								}
								alert(a.join('\n'));
							for (i=j.length -1; i>=0; i--){
								alert('elem:'+j[i]);
								$(this).append('<div>'+j[i]+'</div>');
							}
							} catch(e){
								alert('e:'+e);
							}
						}
					});
				});
				$("#usage_stats").fancybox({
					'scrolling'        :'no',
					'titleShow'        :false,
					'onClosed'         :function(){
					}
				});
				$("#trophy_room").fancybox({
					'scrolling'        :'no',
					'titleShow'        :false,
					'onClosed'         :function(){
					}
				});
				$("#user_account").fancybox({
					'scrolling'        :'no',
					'titleShow'        :false,
					'onClosed'         :function(){
					}
				});
				}catch(e){alert(e);}
			});
		</script>
        </head>
        <body>
	<div id="nav" >
		<div class="center clearfix">
			<h5><a href="/">Instaright - Perfect information for you in realtime.</a></h5>
                	<ul class="menu borderless clearfix"> 
				<li><a href="/category" title="Instaright most populat category list"><span>Categories</span></a></li>
				<li><a href="/tools" title="Instaright tools"><span>Tools</span></a></li>
                        	{% if user %}
					<li><a href="/user/dashboard"><span>{{ user }}</span></a></li>
					<li><a href="/user/dashboard"><img src="{{ avatar }}" width="20" height="20" /></a></li>
					<li><a href="{{ logout_url }}"><span>Logout</span></a></li>
                        	{% else %}
					<li><a id="btn_login" href="/account" title="Login"><span>Login</span></a></li>
                        	{% endif %}
                        	<li>
                        	</li>

                	</ul>
		</div>
	</div>	
	<div style="display: none;">
		<div id="visualization" style="width: 400px; height: 200px;  display: inline-block;"></div>
	</div>
	<div style="display: none;">
		<div id="edit_account" style="width: 600px;">
			<div id="form">
			    <div id="form_inner">
			        <form action="/user/edit" method="post" id="user_data">
            
				    <h5><span>Services</span></h5>
				    <div style="display: block">
						<div class="account_field_column_left">
			            			<label for="iuser" style="width: 100%">Instaright Account</label>
							<input type="text" name="iuser" id="iuser" class="required text_field" value="{{ instaright_account }}"/>
						</div>
						<div class="account_field_column_right">
			            			<label for="ipass" style="width: 100%">Instaright Password</label>
							<input type="password" name="ipass" class="text_field"/>
						</div>
						<br style="clear:both;"/>
			    	    </div>
			            <div class="account_field_label">Evernote Account</div>
				    <div class="account_field">
					    {% if evernote_profile %}
					    	<div class="account_field_data"><img src="/static/images/evernote_small.png" />&nbsp;&nbsp;{{ evernote_profile }}</div>
					    	<div class="profile_remove"><a href="/user/evernote/remove">Remove</a></div>
					    {% else %}
					    	<div class="account_field_data"><img src="/static/images/evernote_small.png" />&nbsp;&nbsp;</div>
					    	<div class="profile_remove"><a href="/oauth/evernote/login">Connect</a></div>
					    {% endif %}
				    	    <br style="clear:both;"/>
				    </div>
				    <h5><span>Identities</span></h5>
			            <div class="account_field_label">Facebook Account</div>
				    <div class="account_field">
					    {% if facebook_profile %}
					    	<div class="account_field_data"><img src="/static/images/facebook_small.png"/>&nbsp;&nbsp;{{ facebook_profile }}</div>
					    	<div class="profile_remove"><a href="/user/facebook/remove">Remove</a></div>
					    {% else %}
					    	<div class="account_field_data"><img src="/static/images/facebook_small.png"/>&nbsp;&nbsp;</div>
					    	<div class="profile_remove"><a href="/user/facebook/connect">Connect</a></div>
					    {% endif %}
				    	    <br style="clear:both;"/>
				    </div>
			            <div class="account_field_label">Twitter Account</div>
				    <div class="account_field">
					    {% if twitter_profile %}
					    	<div class="account_field_data"><img src="/static/images/twitter_small.png"/>&nbsp;&nbsp;{{ twitter_profile }}</div>
					    	<div class="profile_remove"><a href="/user/twitter/remove">Remove</a></div>
					    {% else %}
					    	<div class="account_field_data"><img src="/static/images/twitter_small.png"/>&nbsp;&nbsp;</div>
					    	<div class="profile_remove"><a href="/user/twitter/connect">Connect</a></div>
					    {% endif %}
				    	    <br style="clear:both;"/>
				    </div>
			            <div class="account_field_label">Google Account</div>
				    <div class="account_field">
					    {% if google_profile %}
					    	<div class="account_field_data"><img src="/static/images/google_small.png" />&nbsp;&nbsp;{{ google_profile }}</div>
					    	<div class="profile_remove"><a href="/user/google/remove">Remove</a></div>
					    {% else %}
					    	<div class="account_field_data"><img src="/static/images/google_small.png" />&nbsp;&nbsp;</div>
					    	<div class="profile_remove"><a href="/user/google/connect">Connect</a></div>
					    {% endif %}
				    	    <br style="clear:both;"/>
				    </div>
				    <br style="clear:both;"/>
			            <div>
			                <input type="submit" value="Save" class="big_button" />
			            </div>
			       </form>
			    </div>
			 </div>
			<div id="response"></div>
		</div>
	</div>
	<div style="display: none;">
		<div id="badges" style="width: 400px;">
			{% if badges %}
				{% for b in badges %}
					<div class="single_badge"><img width="60" height="60" src="/static/images/{{ b.0 }}.png" /><div class="badge_desc">{{ b.1 }}</div></div>
				{% endfor %}
			{% else %}
			<span>No badges at moment. Hold on, we have something for you <a href="/tools">here</a></span>
			{% endif %}
		</div>
	</div>
	<div class="profile_block">
		<div class="profile_top">
			<div class="profile_top_header">
				<div class="profile_top_left"></div>
				<div class="profile_top_center"></div>
			</div>
			<div class="profile_content">
				<div class="profile_content_left_border"></div>
				<div class="profile_content_right_border"></div>
				<div class="profile_content_wrapper">
					<a class="user_image" ref="#"><img src="{{ avatar }}" width="70" height="70" /></a>
					<div class="profile_text_wrapper">
						<h1>{{ user }}</h1>
						<span></span>
					</div>
					<div class="actions">
						<span class="stats text_bubble"><a id="usage_stats" href="#visualization">Statistics</a></span>
						<span class="badges text_bubble"><a id="trophy_room" href="#badges">Trophy Room</a></span>
						<span class="edit text_bubble"><a id="user_account" href="#edit_account">Edit Account</a></span>
						<!--span class="edit text_bubble"><a id="user_account" href="#edit_account">Edit Account</a></span-->
					</div>
				</div>
			</div>
			<div class="profile_content_bottom">
				<div class="profile_content_bottom_left"></div>
				<div class="profile_content_bottom_center"></div>
			</div>
		</div>
		<div class="profile_score">
			<div class="profile_score_top">
				<div class="profile_score_top_left"></div>
				<div class="profile_score_top_center"></div>
			</div>
			<div class="profile_score_content">
				<div class="profile_score_content_left_border"></div>
				<div class="profile_score_content_right_border"/></div>
				<div class="profile_score_content_wrapper">
					<span class="points" >{{ score }}</span><br>
					<small class="level">Level 2</small>
				</div>
			</div>
			<div class="profile_score_bottom">
				<div class="profile_score_bottom_left"></div>
				<div class="profile_score_bottom_center"></div>
			</div>
		</div>
	</div>

	<div id="user_dashboard_content">
		<div class="link_container_top"></div>
			<div class="link_container_top_left"></div>
			<div class="link_container">
                	<div class="links">
			{% if links %}
                        {% regroup links|dictsortreversed:"date" by date|date:"M d"  as links_by_date %}

                        {% for links in links_by_date %}
			<div class="link_group">
				<div class="link_group_date">
					<a class="date_group" href="#">{{ links.grouper }}</a>
					<a class="show_toggle" href="#">Collapse</a>
				</div>
				<div id="toggle_div">
                        
                        	{% for item in links.list %}
				<div class="link_details_container">
					<div class="link_container_result">
						<div class="link_container_title">
							<h4 class="link_title">
								<img class="link_fav_icon" src="http://{{ item.domain }}/favicon.ico" width="16" height="16" />
								<a href="{{ item.url }}">{{ item.title }}</a>
							</h4>
						</div>
						<div class="link_container_url">
							<a href="{{ item.url }}" target="_new">{{ item.url }}</a>
						</div>
					</div>
					<!--div class="link_options">
						<ul class="tools_list">
							<li class="tools_list_item">
								<a href="#" >Give me more of this</a>
							</li>
							<li class="tools_list_item">
								<a href="#" >View as text only</a>
							</li>
							<li class="tools_list_item">
								<a href="#" >Add note</a>
							</li>
						</ul>
					</div-->
				</div>
                        	{% endfor %}
				</div>
			</div>
                        {% endfor %}
                	</div>
			</div>
		</div>
		<div class="load_more_container" id="1">
			<div id="load_more" >load more</div>
		</div>
		{% else %}
		<div>
			<div class="promo">
				<span><a href="/tools" class="span_link">No saves yes ... no worries it will get better! </a></span><br>
				<span><a href="/tools" class="span_link">Start by downloading addon for your favorite browser here.</a></span></div>
			</div>
		{% endif %}
	</div>
        </body>
</html>
